*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e293b,#111827,#020617);
    background-size:400% 400%;
    animation:bg 12s ease infinite;
}

@keyframes bg{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.calculator{
    width:380px;
    padding:25px;
    border-radius:25px;
    background:rgba(20,20,30,0.85);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 0 30px rgba(0,255,255,.2);
}

.title{
    text-align:center;
    color:#00e5ff;
    font-size:30px;
    margin-bottom:20px;
    font-weight:bold;
    text-shadow:0 0 12px #00e5ff;
}

#display{
    width:100%;
    height:80px;
    border:none;
    outline:none;
    border-radius:15px;
    padding:20px;
    text-align:right;
    font-size:35px;
    color:#00ffcc;
    background:#0d1117;
    margin-bottom:20px;
    box-shadow:inset 0 0 15px rgba(0,255,255,.25);
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

button{
    height:70px;
    border:none;
    border-radius:18px;
    font-size:24px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    color:white;
}

button:hover{
    transform:translateY(-4px) scale(1.05);
}

/* Number Buttons */
.num{
    background:linear-gradient(135deg,#334155,#475569);
}

.num:hover{
    background:linear-gradient(135deg,#64748b,#94a3b8);
    box-shadow:0 0 18px #94a3b8;
}

/* Operator Buttons */
.operator{
    background:linear-gradient(135deg,#7c3aed,#9333ea);
}

.operator:hover{
    box-shadow:0 0 20px #a855f7;
}

/* Equal Button */
.equal{
    background:linear-gradient(135deg,#00c853,#00e676);
}

.equal:hover{
    box-shadow:0 0 25px #00ff88;
}

/* Clear Button */
.clear{
    background:linear-gradient(135deg,#ff1744,#ff4569);
}

.clear:hover{
    box-shadow:0 0 20px #ff1744;
}

/* Backspace Button */
.back{
    background:linear-gradient(135deg,#03a9f4,#00e5ff);
}

.back:hover{
    box-shadow:0 0 20px #00e5ff;
}

.zero{
    grid-column:span 2;
}